.container{
  max-width: 400px;
}
.items{
  padding-left: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  
}
.main{
  max-width: 300px;
  background-color: aliceblue;
  padding: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
}
.inputCont{
  margin-left: 20px;
}
input{
  padding: 4px;
  width: 80%;
  box-sizing: border-box;
}
.btn1{
  cursor: pointer;
}
.btn2{
  margin-left: 8px;
  cursor: pointer;
}
